body {
background: url('https://images6.alphacoders.com/332/332872.png') no-repeat center center fixed;
background-size: cover;
font-family: Arial, sans-serif;
}
.quiz-container {
max-width: 600px;
background: rgba(255, 255, 255, 0.9);
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
margin: 20px auto;
position: relative;
display: none; /* Inicialmente escondido */
}
h1 {
text-align: center;
color: #333;
font-family: 'Press Start 2P', cursive;
font-weight: bold;
}
.question {
font-size: 20px;
margin-bottom: 10px;
}
.options button {
width: 100%;
padding: 10px;
margin: 5px 0;
font-size: 16px;
cursor: pointer;
border: 1px solid #ccc;
border-radius: 5px;
background-color: #f9f9f9;
}
.options button:hover {
background-color: #e9e9e9;
}
.options button:disabled {
background-color: #ddd;
cursor: not-allowed;
}
.feedback {
display: none;
text-align: center;
font-size: 18px;
margin-top: 10px;
}
.correct {
color: green;
animation: fadeIn 1s;
}
.incorrect {
color: red;
animation: fadeIn 1s;
}
@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }

}